.nav-list {
  font-size: 0;
}

.nav-list-item {
  display: inline-block;
  font-size: 16px;
  background: #4A996D;
  border: 1px solid;
  position: relative;
}

.nav-list-item:hover {
  background: #3D7F5A;
}

.sub-nav-list {
  position: absolute;
  display: none;
}

.nav-list-item:hover > .sub-nav-list {
  display: block;
}

.sub-sub-nav-list {
  position: absolute;
  display: none;
}

.nav-list-item:hover > .sub-sub-nav-list {
  display: block;
}

.sub-nav-list-item {
  display: flex;
  }

  .sub-sub-nav-list {
    padding-left: 76px;
  }

.link {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}

